body {
	background-color: #161212;
 	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/732/wood-floor.jpg) no-repeat; 
	/*background: url(../img/bg_img-0.jpg) no-repeat;*/
	background-size: cover;
	font-family: 'Signika', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
header {
	margin-bottom:50px;
	ol {
		margin:0;
		padding:0;
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-gap: 0 6px;
		width:1200px;
		margin: 0 auto;
		overflow: scroll;
		
		@media (min-width:1400px) {
			grid-template-columns: repeat(11, 1fr);
			width:1400px;
			
			li:nth-child(5) {
				grid-column: span 3;
			}
		}
		
	}
	
	li {
		background-color:darken(#0A6FAC, 20%);
		color: white;
		font-size:11px;
		font-weight:600;
		text-align:center;
		line-height:16px;
		letter-spacing:2px;
		text-transform: uppercase;
		padding:3px 0;
		
		span {
			font-size:10px;
			font-weight:400;
		}
	}
}

/* POP-UP WINDOW */
* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue','Helvetica', Arial, sans-serif;
}

.main-content {
	height: 800px;
	width: 1000px;
	margin: 0 auto;
}

.overlay-bg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	cursor: pointer;
	z-index: 1000; /* high z-index */
	background: #000; /* fallback */
	background: rgba(0,0,0,0.75);
}
	.overlay-content {
		display: none;
		background: #1b1b1b;
		padding: 1%;
		width: 40%;
		position: absolute;
		top: 15%;
		left: 50%;
		margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
		cursor: default;
		z-index: 10001;
		border-radius: 4px;
		box-shadow: 0 0 5px rgba(0,0,0,0.9);
	}

	.close-btn {
		cursor: pointer;
		border: 1px solid #333;
		padding: 2% 5%;
		background: #a9e7f9; /* fallback */
		background: -moz-linear-gradient(top,  #a9e7f9 0%, #77d3ef 4%, #05abe0 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e7f9), color-stop(4%,#77d3ef), color-stop(100%,#05abe0));
		background: -webkit-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
		background: -o-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
		background: -ms-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
		background: linear-gradient(to bottom,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
		border-radius: 4px;
		box-shadow: 0 0 4px rgba(0,0,0,0.3);
	}
	.close-btn:hover {
		background: #05abe0;
	}

/* media query for most mobile devices */
@media only screen and (min-width: 0px) and (max-width: 480px){

	.overlay-content {
		width: 96%;
		margin: 0 2%;
		left: 0;
	}
}
.fa-info-circle:before {
    content: "\f05a"
}