{% extends "base.html" %} {% block title %}Schedule{% endblock %} {% block content
%}

<div style="text-align: left; margin-top: 1%;">
  <!-- Add new  -->
  <form action="/chair/sessions/add" method="POST">
    <p><font color="red">{% set last = body|last  %}
        For Session_Id, We recommend you use initials of your fullname +
         number. Otherwise, make sure you provide a unique Id!
      </font> </p>
    <tr>
       {% for title in headers %}
        <td><input id="{{title}}" name="{{title}}" placeholder="{{title}}"></td>
      {% endfor %}
      <td><button type="submit">save</button></td>
    </tr>
  </form>
</div>

<h1 style="text-align: center; margin-top: 1%;"><font color="blue">{{name}}</font></h1>
<table id="dashboard" border="1" width="100%" align="center">
  <colgroup>
    <col style="background-color: rgb(148, 245, 148);" /> 
  </colgroup>
  <thead align="center">
    {% for header in headers %}
    <th style="background-color: burlywood;"><h4>{{ header }}</h4></th>
    {% endfor %}
    <th style="background-color: rgb(59, 35, 3); color: rgb(160, 195, 22); text-align: center;" colspan="2"><h4>MODIFY</h4></th>
  </thead>

  <tbody align="center" style="background-color: rgb(33, 33, 33); color: azure; font-size: 150%;">
    {% for row in body %}
    <tr id="s{{loop.index}}">
      {% for col in row %}
      <!-- <td>{{ col }}</td> -->
      <td>
        <ul class="matchup matchup-{{loop.index}}">
          {{ col }}
          <!-- <li class="team team-top">big infos</li> -->
          <!-- <li class="team team-bottom">some infos</li> -->
        </ul>
      </td>
      {% endfor %}
      <td style="background-color: grey;"><a id="edit" onclick="js:editRow()"><font color='white'>edit</font></a></td>
      <td style="background-color: red;"><a class="delete" id="remove" href="/chair/sessions/remove?Session_Id={{row[0]}}"><font color='white'>remove</font></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}